.tafi {
    padding: 3px;

    border: solid 1px #ccc;
}
.tafi:after {
    content: '';
    display: block;
    clear: both;
}

.tafi-decision {
    position: relative;
    float: left;
}

.tafi-input,
.tafi-input:focus {
    padding: 0;
    margin: 0;

    font: inherit;
    border: none;
    outline: none;
}

.tafi-option-choices {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;

    list-style: none;

    background: white;
    border: solid 1px #ccc;
}
.tafi-option-choices > li {
    white-space: nowrap;
}
.tafi-decision-show-options .tafi-option-choices { display: block; }
