.tafi {
    padding: 3px;

    border: solid 1px #ccc;
    border-radius: 4px;
}
.tafi:after {
    content: '';
    display: block;
    clear: both;
}

.tafi-section {
    position: relative;
    float: left;
}

.tafi-input,
.tafi-input:focus {
    padding: 0;
    margin: 0;

    font: inherit;
    border: none;
    outline: none;
}

.tafi-option-choices {
    display: none;
}
.tafi-option-choices.show {
    display: block;
}